[submodule "vendor/plugins/authlogic"]
	path = vendor/plugins/authlogic
	url = git://github.com/binarylogic/authlogic.git
[submodule "vendor/plugins/shoulda"]
	path = vendor/plugins/shoulda
	url = git://github.com/thoughtbot/shoulda.git
