[submodule "vendor/plugins/shoulda"]
	path = vendor/plugins/shoulda
	url = git://github.com/thoughtbot/shoulda.git
[submodule "vendor/plugins/factory_girl"]
	path = vendor/plugins/factory_girl
	url = git://github.com/thoughtbot/factory_girl.git
