<div id="flux_<%=flux.id%>">
  <% if notice %>
    <span><%= notice %></span>
  <% else %>
	  <%= plot(flux) %>
	<% end %>

	<br/>Flux: <%= number_with_precision(flux.flux)%> g/ha day<br/>
	<%=h flux.comment %>
	
	<% for sample in flux.samples%>
		<%= sample.vial %>
	<% end %>
</div>
